<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nibali.brat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/articuno"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/articuno"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionbar"
        android:name="com.example.nibali.brat.BratApplication"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />

        <activity android:name="com.example.nibali.brat.ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.example.nibali.brat.ui.main.MainActivity"
            android:theme="@style/AppThemeNoActionbar" />
        </application>

</manifest>